@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold');
  src: url('./assets/fonts/AnyConv.com__Inter-Bold.woff2') format(woff2);
  src: url('./assets/fonts/AnyConv.com__Inter-Bold.woff') format(woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:local('Inter-Regular');
  src: url('./assets/fonts/AnyConv.com__Inter-Regular.woff2') format(woff2);
  src: url('./assets/fonts/AnyConv.com__Inter-Regular.woff') format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:local('Roboto-Regular');
  src: url('../Portfolio/');
  src: url('./assets/fonts/AnyConv.com__Roboto-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src:local('Merriweather-Bold');
  src: url('./assets/fonts/AnyConv.com__Inter-Regular.woff2');
  src: url('./assets/fonts/AnyConv.com__Merriweather-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src:local('Merriweather-Regular');
  src: url('./assets/fonts/AnyConv.com__Merriweather-Regular.woff2');
  src: url('./assets/fonts/AnyConv.com__Merriweather-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
  font-family: 'Inter', 'Roboto', 'Merriweather', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000;
}

:root {
  --color: #BDAE82;
  --transition: 0.5s linear;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  font-family: Merriweather;
}

h2 {
  color: var(--color);
  display: inline-block;
  font-size: 40px;
  font-style: normal;
  line-height: 80px;
  letter-spacing: 0em;
}

h3 {
  font-family: Merriweather;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: center;
}

h4 {
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;

}

p {
  margin: 0;
}

a:hover {
  color: var(--color);
  transition: var(--transition);
}

ul {
  padding: 0;
  margin: 0;
}

/* Fonts */
.inter {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
.flex {
  display: flex;
}

/* Button */
.btn {
  width: 220px;
  height: 55px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  display: block;
  cursor: pointer;
  background-color: var(--color);
  border: none;
  margin: 0;
}

.btn:hover {
  color: #fff;
  transition: var(--transition);
}

  .container {
    /* max-width: 1440px; */
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    outline: olivedrab 1px solid;
  }

  .section {
    padding: 0 20px;
    position: relative;
  }
/* header */

.header-container {
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
  margin-right: auto;

}

.nav-logo {
  align-items: center;
  position: relative;
}

.nav {
  margin-left: auto;
  align-items: center;
  padding-left: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  /* display: inline-block; */
  padding: 0 20px;
  text-decoration: none;
}

.en {
  color: var(--color);
  font-weight: 700;
  margin-right: 0.5em;
}

  /* hero */

.hero-container {
  background-image: url('./assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  margin-bottom: 100px;
}

.hero-title {
  padding-bottom: 12px;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 117px;
  color: #fff;
  }

.hero-content {
  max-width: 524px;
  padding: 161px 0 0 80px;
  padding-left: 60px;
  flex-direction: column;
  margin-bottom: 330px;
  line-height: 40px;
}

.hero-subtitle {
  padding-bottom: 25px;
}

/* Skills */


.title-wrapper {
  position: relative;
  width: 50%;
  margin: auto;
  justify-content: center;
  overflow-x: hidden;
  }

  .section-title {
    position: relative;
    margin-bottom: 60px;
  }

 .section-title::before {
  content: "";
  display: block;
  position: absolute;
  top:calc(50% - 1px);
  width: 500%;
  height: 2px;
  background-color: var(--color);
  margin-left: -518%;

}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  top:calc(50% - 1px);
  width: 500%;
  height: 2px;
  background-color: var(--color);
  margin-left: 118%;
}

/* Skills */

.skills-content {
  padding:0 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.skills-item {
  width: 280px;
  text-align: center;
  font-size: 18px;
  display:block;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 100px;
  /* margin-right: 80px; */

}

.skills-item:not(:last-child) {
  /* margin-right: 80px; */
  margin-bottom: 110px;
}

.skills-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 20px;

}

.skills-photo {
  background-image: url("./assets/svg/camera1.svg");
}

.skills-video {
  background-image: url("./assets/svg/video1.svg");
}

.skills-retouch {
  background-image: url("./assets/svg/image1.svg");
}

.skills-audio {
  background-image: url("./assets/svg/mic1.svg");
}

/* Portfolio */

.portfolio-btn {
  border: 2px solid var(--color);
  color: var(--color);
  background-color: rgba(0,0,0,0) ;
}

.portfolio-menu {
  margin-bottom: 60px;

}

.portfolio-container {
  width: 100%;
}

.portfolio-menu {
  column-gap: 5px;
}

.portfolio-menu-wrapper {
  justify-content: center;
  
}

.photo {
  flex-wrap: wrap;
}

.photo:nth-child(3n) {
  margin-right: 0;
}

.portfolio-photo {
  display: block;
}

.photo {
column-gap: 25px;
row-gap: 25px;
}
/* .portfolio_item:not(:last-child) {
margin-right: 25px;
margin-bottom: 25px;
} */

.portfolio_item:nth-child(3n) {
  margin-right: 0;
}

.section-portfolio,
.section-price {
  margin-bottom: 100px;
}

/* Video */
.section-video {
  margin-bottom: 100px;
}

.video-player {
  position: relative;
  max-width: 100%;
  max-height: 705px;
  align-items: center;
  justify-content: center;
}

.video-button {
  position: absolute;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: rgba(0,0,0,0)
}

.video-button:hover path{
  fill: var(--color);
  transition: var(--transition);
}

.video-button:hover {
  background-color: rgba(0,0,0,0);
}

/* Price */

.price_title {
margin-left: -20px;
}

.price-wrapper {
  flex-wrap: wrap;
}

.price-item {
  width: 450px;
  min-width: 450px;
  padding: 41px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color)
}

.price-item:not(:last-child) {
  margin-right: 25px;
}


.price-descr {
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}

.price-nubmer {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: var(--color);
  margin-bottom: 20px;
  padding-top: 20px;
}

.price-descr p {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

/* Contacts */

.section-contacts {
  padding: 20px;
  padding-top: 60px;
  height: 700px;
  background-image: url("./assets/img/contacts.jpg");
  background-repeat: no-repeat;
  background-size: initial;
  justify-content: flex-end;
}

.contacts-wrapper {
  justify-content: flex-end;
}

.contacts-form {
  flex-direction: column;
  --background-color: rgba(0, 0, 0, 0);
}

.contacts-content {
width: 450px;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-input {
  height: 50px;
  margin-bottom: 20px;
}

.contacts-textarea {
  resize: none;
  height: 100px;
  margin-bottom: 30px;
}

.contacts-input,
.contacts-textarea {
  color: var(--color);
  background-color: var(--background-color);
  border: 2px solid var(--color);
  padding: 0 20px
}

::placeholder {
  color: var(--color);
}